// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.top {
  text-align: center;
}

.welcome {
  font-size: 100px;
  margin: 0 auto;
}

.home-image {
  
  background-size: cover;
  background-position: 0 1130px;
  width: 1000px;
  height: 350px;
  margin:0 auto;
}

#box{
  height: 600px;
}
.image1 {
  background-image: background-image: image-url('alexandra-gornago-_B7shfNUXEA-unsplash.jpg');
}
.image2 {
  background-image: url(image2.jpg);
}
.image3 {
  background-image: url(image3.jpg);
}
.image4 {
  background-image: url(image4.jpg);
}




.empty {
  height: 240px;
}

.home-introduction {
  text-align: center;
  background-color: rgba( 230, 230, 230, 0.8);
  width: 400px;
  margin: 0 auto;
  margin-top: auto;
  font-family: 'Kosugi Maru', sans-serif;
}

.recommended-products {
  display: flex;
  margin: 0 auto;
}

.about {
 text-align: center;

}

.about-title {
 font-size: 100px;
}

.about-image {
  background-image: image-url('benjamin-rascoe-kGQWeWX2mpw-unsplash.jpg');
  background-size: cover;
  background-position: center;
  width: 1000px;
  height: 350px;
  margin:0 auto;
}

.sample1 {
  font-family: 'Kosugi Maru', sans-serif;
  margin-bottom: 50px;
}

.about-introduction {
   background-color: rgba( 250, 250, 250, 0.9);
   width: 1000px;
   margin: 0 auto;
}

.about-sign-up {
  background-color: white;
}

.recommend {
  margin: 0 auto;
  margin-top: 50px;
}

.recommended-product-box {
  width: 25%;
  margin: 5px;
}

/* Loading背景画面設定　*/
#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#fff;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width:350px;
}

/* fadeUpをするアイコンの動き */
.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity: 1;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}

