<div class="container">
	<div class="row">
		<div class = "home-image">
			<div class="empty"></div>
			<p class="home-introduction">
			  <span class="welcome">Welcome NaganoCake</span><br>
			  このサイトは、ケーキ販売のECサイトになります。<br>
			  会員でない方も商品の閲覧はできますが、<br>
			  購入には会員登録が必要になります。<br>
			</p>
		</div>
	</div>
        <h2 class="toppage-head">オススメ商品</h2>
			<!-- ランダムに4つ表示されるようになっています -->
			<% @products.first(5). each do |product| %>
			  
			<% end %>
</div>