// Place all the styles related to the admin/customer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  margin: 0;
  padding: 0;
  boxing-sizing: border-box;
}

//会員一覧画面
.admin_customer_index {
  margin-top: 50px;
  margin-bottom: 20px;
}

.available {
  color: #00FF00;
}

.invalid {
  color: #C0C0C0;
}

//会員詳細情報
.admin_customer_show {
  margin-top: 50px;
  margin-bottom: 20px;
}

//会員情報編集画面
.admin_customer_edit {
  margin-top: 50px;
  margin-bottom: 20px;
}