// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.product_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  margin: 0 auto;
}

.product-items {
  margin-right: 65px;
  width: 20%;
}

.product-items:nth-child(4n) {
  margin-right: 0;
}

.product-info {
  display: flex;
}

.edit-btn {
  text-align: center;
  margin-top: 20px;
}

.productshow-container {
  margin: 0 auto;
}

