// Place all the styles related to the admin/ShippingAddresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.shipping_addres {
  margin: 0 auto;
}

.shipping-residence {
  width: 600px;
}

.shipping-container {
  padding-top: 30px;
}

.index-back {
  text-align: center;
}