<h2>注文情報確認</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    
  </thead>
</table>

<%#= form_with model:@order,local:true do |f| %>
<div><%= @order.payment_method %></div>
<div><%= @order.postal_code %></div>
<div><%= @order.residence %></div>
<div><%= @order.address_name %></div>
<%# end %>