<h2>注文情報確認</h2>
<table>
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
    </tr>

  </thead>
</table>

<%#= form_with model:@order,local:true do |f| %>
<diV><%= @order.payment_method %></diV>
<diV><%= @order.residence %></diV>
<diV><%= @order.address_name %></diV>
<%# end %>