/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';

main {
  background-color: rgba( 250, 250, 250, 0.9);
  width: 80%;
  margin: 0 auto;
  padding: 50px 20px 20px 50px;
  margin-bottom: 70px;
  margin-top: 50px;
}

body {
  background-image: image-url('23bdd170f5367db7fe6d6d9310a21cee.png');
}

header {
  background-color: #502e2e;
  width: 100%;
  height: 100px;
  display: flex;
}

.navbar-right {
  display: flex;
  list-style: none;
  margin: 0 0 0 auto;
  margin-right: 30px;
  margin-top: 35px;
}

.logo {
  margin-left: 20px;
}

.nav-list-item {
  margin: 10px;
  color: #efe2d5;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
  text-decoration: none;
}

.nav-list-item:hover {
  color: white
}



.welcome-message {
  color: #efe2d5;
  font-size: 20px;
  font-family: 'Kosugi Maru', sans-serif;
  margin-right: 30px;
}

h2 {
  font-family: 'Kosugi Maru', sans-serif;
}

/* Loading背景画面設定　*/
#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#fff;
  text-align:center;
  color:#fff;
}



/* Loading画像中央配置　*/
#splash_logo{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
}


/* fadeUpをするアイコンの動き */
.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.8s;
animation-fill-mode:forwards;
opacity: 1;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}